[submodule "GetBundles.tmbundle"]
	path = GetBundles.tmbundle
	url = git://github.com/adamsalter/GetBundles.tmbundle.git
[submodule "Grep.tmbundle"]
	path = Grep.tmbundle
	url = git://github.com/wiseleyb/grep_in_project-tm_bundle.git
[submodule "mediawiki.tmbundle"]
	path = mediawiki.tmbundle
	url = git://github.com/textmate/mediawiki.tmbundle.git
[submodule "RubyAMP.tmbundle"]
	path = RubyAMP.tmbundle
	url = git://github.com/timcharper/rubyamp.git
[submodule "Ruby.tmbundle"]
	path = Ruby.tmbundle
	url = git@github.com:elitau/ruby-tmbundle.git
[submodule "cucumber.tmbundle"]
	path = cucumber.tmbundle
	url = git://github.com/drnic/cucumber-tmbundle.git
[submodule "AckMate"]
	path = AckMate
	url = http://github.com/protocool/AckMate.git
[submodule "ruby-sass.tmbundle"]
	path = ruby-sass.tmbundle
	url = git://github.com/charlesr/ruby-sass-tmbundle.git
[submodule "ruby-haml.tmbundle"]
	path = ruby-haml.tmbundle
	url = git://github.com/benhoskings/ruby-haml.tmbundle.git
[submodule "RSpec.tmbundle"]
	path = RSpec.tmbundle
	url = git://github.com/rspec/rspec-tmbundle.git
[submodule "GoToFile.tmbundle"]
	path = GoToFile.tmbundle
	url = git://github.com/amiel/gotofile.tmbundle.git
