[submodule "rubyamp"]
	path = rubyamp
	url = git://github.com/timcharper/rubyamp.git
[submodule "GetBundles.tmbundle"]
	path = GetBundles.tmbundle
	url = git://github.com/adamsalter/GetBundles.tmbundle.git
