[submodule "GetBundles.tmbundle"]
	path = GetBundles.tmbundle
	url = git://github.com/adamsalter/GetBundles.tmbundle.git
[submodule "Grep.tmbundle"]
	path = Grep.tmbundle
	url = git://github.com/wiseleyb/grep_in_project-tm_bundle.git
[submodule "mediawiki.tmbundle"]
	path = mediawiki.tmbundle
	url = git://github.com/textmate/mediawiki.tmbundle.git
[submodule "RubyAMP.tmbundle"]
	path = RubyAMP.tmbundle
	url = git://github.com/timcharper/rubyamp.git
[submodule "Ruby.tmbundle"]
	path = Ruby.tmbundle
	url = git@github.com:elitau/ruby-tmbundle.git
